%p.direction_text(data-direction_id="#{direction.id}")= br(direction.description) || 'クリックして作り方を入力'
.direction_text_form
  = form_for direction, url: recipe_direction_path(direction.recipe_id, direction.id), method: :patch, remote: true do |f|
    = f.text_area :description, rows: 3, id: "direction_text_#{direction.id}"
    .actions
      = f.submit '保存'
      = link_to '取消', "javascript:void(0)", { class: 'edit_direction_text_cancel' }
