.container
  .row
    .col-md-8
      %h2 登録情報

  .row
    .col-md-10
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = devise_error_messages!
        .form-horizontal
          .fieldset
            %legend メール配信設定
            .form-group
              = f.fields_for :subscriptions do |sub|
                .col-md-10
                  = sub.check_box :accept
                  = sub.object.email_magazine.title

            %legend お客様情報
            .form-group
              .col-md-2
                = f.label :nickname, 'ニックネーム'
              .col-md-8
                = f.text_field :nickname, autofocus: true
            .form-group
              .col-md-2
                = f.label :email, 'メールアドレス'
              .col-md-8
                = f.email_field :email
            .form-group
              .col-md-10
              - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                %div
                  Currently waiting confirmation for: #{resource.unconfirmed_email}
            .form-group
              .col-md-2
                = f.label :password, '新しいパスワード'
              .col-md-3
                = f.password_field :password, autocomplete: "off"
              .col-md-5
                %i (変えない場合は空白のままにしてください)
            .form-group
              .col-md-2
                = f.label :password_confirmation, '〃（確認）'
              .col-md-8
                = f.password_field :password_confirmation, autocomplete: "off"
            .form-group
              .col-md-2
                = f.label :current_password, '現在のパスワード'
              .col-md-3
                = f.password_field :current_password, autocomplete: "off"
              .col-md-5
                %i (確認のため現在のパスワードを入力してください)
            .form-group
              .col-md-2
                = f.label :sex, '性別'
              .col-md-8
                = f.select :sex, User.sex.options
            .form-group
              .col-md-2
                = f.label :birth_date, '生年月日'
              .col-md-8
                = f.date_field :birth_date
            .form-group
              .col-md-2
                = f.label :zip_code, '郵便番号'
              .col-md-8
                = f.number_field :zip_code
            .actions
              = f.submit '変更する'
