.container
  .row
    .col-md-8
      %h2 my-cookpad にユーザー登録（無料）する
  .row
    .col-md-10
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .form-horizontal
          .fieldset
            .form-group
              .col-md-2
                = f.label :email, 'メールアドレス'
              .col-md-8
                = f.email_field :email, autofocus: true
            .form-group
              .col-md-2
                = f.label :password, 'パスワード'
              .col-md-3
                = f.password_field :password, autocomplete: "off"
              .col-md-5
                - if @validatable
                  %em
                    (#{@minimum_password_length} 文字以上で入力してください)
            .form-group
              .col-md-2
                = f.label :password_confirmation, '〃（確認）'
              .col-md-8
                = f.password_field :password_confirmation, autocomplete: "off"
            .form-group
              .col-md-2
                = f.label :zip_code, '郵便番号'
              .col-md-8
                = f.number_field :zip_code
            .form-group
              .col-md-2
                = f.label :birth_date, '生年月日'
              .col-md-8
                = f.date_field :birth_date
            .form-group
              .col-md-2
                = f.label :sex, '性別'
              .col-md-8
                = f.select :sex, User.sex.options
            .actions
              %p= f.submit "同意して登録"

  .row
    .col-md-10
      %p= link_to 'facebookアカウントを使って登録', user_omniauth_authorize_path(:facebook), class: "btn btn-primary"
