.container
  .row
    .col-12
      =render 'errors'

  .row
    .col-md-8
      %h1.text-success.recipe_title_text= @recipe.title
      = render 'recipe_title_form', recipe: @recipe
  .row
    .col-md-3
      - if @recipe.image?
        = link_to '画像を削除', delete_image_recipe_path, method: :delete, data: { confirm: '削除した写真は元に戻すことができません。本当に削除しますか？' } if @recipe.image?
      - else
        = render 'recipe_image_form', recipe: @recipe
      = image_tag @recipe.image.url(:medium)
    .col-md-5
      %p.catch_copy_text= br(@recipe.catch_copy) || 'クリックしてキャッチコピーを入力'
      = render 'catch_copy_form', recipe: @recipe

      #ingredients
        %h4 材料
        %ul
          - @recipe.ingredients.each do |ingredient|
            %li
              %span= ingredient.title
              %span.badge= ingredient.quantity

  .row
    .col-md-8
      %h4 作り方
      - @recipe.directions.sort_by{|d| d.step}.each_with_index do |direction, index|
        .direction
          %dl
            %dt
              %h4= direction.step
              = link_to '削除', recipe_direction_path(direction.recipe_id, direction.id), method: :delete, data: { confirm: 'この作り方を削除しますか？' } if direction.id
              = link_to '追加', recipe_directions_path(direction.recipe_id, step: direction.step), method: :post
            %dd
              - if direction.image?
                %div= image_tag direction.image.url(:medium) if direction.image?
              - else
                = render 'direction_image_form', direction: direction
              %p.direction_text(data-index="#{index}")= br(direction.description) || 'クリックして作り方を入力'
              = render 'direction_text_form', direction: direction

  .row
    .col-md-8
      %p= link_to 'レシピを公開', publish_recipe_path, method: :patch, class: "btn btn-primary", data: { confirm: 'レシピを公開します。よろしいですか？'}

= render 'ingredients_form', recipe: @recipe
