.container
  .row
    .col-12
      =render 'errors'
  .row
    .col-md-8
      = render 'recipe_title', recipe: @recipe
  .row
    .col-md-3
      = render 'recipe_image', recipe: @recipe
    .col-md-5
      = render 'catch_copy', recipe: @recipe
      #ingredients
        %h4 材料
        %ul
          - @recipe.ingredients.each do |ingredient|
            %li
              %span= ingredient.title
              %span.badge= ingredient.quantity
  .row
    .col-md-8
      %h4 作り方
      = render 'directions/directions', directions: @recipe.directions
  .row
    .col-md-8
      %p= link_to 'レシピを公開', publish_recipe_path, method: :patch, class: "btn btn-primary", data: { confirm: 'レシピを公開します。よろしいですか？'}

= render 'ingredients_form', recipe: @recipe
