.container
  .row
    .col-12
      =render 'errors'

  = nested_form_for @recipe, html: { multipart: true } do |f|
    .row
      .col-md-8
        %h1.text-success= @recipe.title
    .row
      .col-md-3
        - if @recipe.image?
          = link_to '画像を削除', delete_image_recipe_path, method: :delete, data: { confirm: '削除した写真は元に戻すことができません。本当に削除しますか？'} if @recipe.image?
          = image_tag @recipe.image.url(:medium)
        - else
          = f.file_field :image
      .col-md-5
        = f.text_area :catch_copy, rows: 3, placeholder: 'このレシピのキャッチコピーを入力（検索結果にも表示されます）'

        #ingredients
          %h4 材料
          %ul
            - @recipe.ingredients.each do |ingredient|
              %li
                %span= ingredient.title
                %span.badge= ingredient.quantity

        -#
          %h2 材料
          = f.fields_for :ingredients do |ff|
            .field
              - i = ff.options[:child_index]
              = ff.text_field :title, placeholder: ingredients_title_example(i)
              = ff.text_field :quantity, placeholder: ingredients_quantity_example(i)
              = ff.link_to_remove "削除"
          %p= f.link_to_add "行を追加する", :ingredients

    -#
      .row
        .col-md-8
          %h4 作り方
          .directions
            = f.fields_for :directions do |ff|
              = ff.link_to_remove "削除"
              %dl
                %dt
                  %h4= ff.number_field :order, class: 'direction_order'
                %dd
                  - if ff.object.image?
                    = image_tag ff.object.image.url(:medium)
                  - else
                    = ff.file_field :image
                  = ff.text_field :description
          = f.link_to_add "追加", :directions

    .row
      .col-md-8
        %h4 作り方
        - @recipe.directions.each do |direction|
          .direction
            %dl
              %dt
                %h4= direction.order
              %dd
                %div= image_tag direction.image.url(:medium) if direction.image?
                %p.direction_text= direction.description
                = render 'direction_dialog', direction_order: direction.order

        .actions
          = f.submit

    = link_to 'レシピを公開', publish_recipe_path, method: :patch, data: { confirm: 'レシピを公開します。よろしいですか？'}

= render 'ingredient_dialog'
