.container
  .row
    .col-md-8
      %h1 レシピをのせる

      = form_for @recipe do |f|
        = render 'errors'
        .field
          = f.label :title, 'レシピのタイトル（※あとから変更できます）'
          = f.text_field :title, size: 80
        %p #{link_to '掲載するレシピのガイドライン'} を読んで理解しました
        .actions
          = f.submit '材料・作り方の入力に進む'
