.container
  .row
    .col-12
      = render 'errors'

  .row
    .col-md-8
      %h1.text-success= @recipe.title

  .row
    .col-md-3
      = image_tag @recipe.image.url(:medium)

    .col-md-5
      = @recipe.catch_copy

      %h4 材料
      %ul.list-group
      - @recipe.ingredients.each do |ingredient|
        %li.list-group-item
          %span= ingredient.title
          %span.badge= ingredient.quantity

  .row
    .col-md-8
      %h4 作り方
      - @recipe.directions.sort_by{|d| d.step}.each do |direction|
        .hbox_list
          %dl
            %dt
              %h4= direction.step
            %dd
              %div= image_tag direction.image.url(:medium) if direction.image?
              %p= direction.description

  .row
    .col-md-8
      %h4 みんなのつくりましたフォトレポート「つくれぽ」（#{@recipe.tukurepos.count}件）
      - @recipe.tukurepos.last(4).each do |tukurepo|
        = render tukurepo

  .row
    .col-md-8
      %p.text-center= link_to "もっと見る（#{@recipe.tukurepos.count}件）" if @recipe.tukurepos.count > 4

  .row
    .col-md-8
      %p.text-center= link_to 'つくれぽを送る', '#new_tukurepo_modal', 'data-toggle' => 'modal', class: 'btn btn-primary'

#new_tukurepo_modal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        %button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
        %h4#myModalLabel.modal-title #{@recipe.title} へのつくれぽ
      .modal-body
        = render 'tukurepos/tukurepo_form'
      .modal-footer
        %button.btn.btn-default(type="button" data-dismiss="modal") Close
