!!!
%html
  %head
    %title MyCookpad
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar.navbar-default
      .navbar-header
        = link_to 'my-cookpad', root_path, class: 'navbar-brand'
      .navbar-collapse.collapse.navbar-responsive-collapse
        %ul.nav.navbar-nav
          %form.navbar-form.navbar-left
            %input.form-control.col-lg-8(type="text" placeholder="Search")
          %li= link_to 'レシピをのせる', new_recipe_path if user_signed_in?
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li= link_to current_user.default_nickname, ketchen_path(current_user.id)
            %li= link_to 'プロフィール変更', edit_user_registration_path
            %li= link_to 'ログアウト', destroy_user_session_path, method: :delete
          - else
            %li= link_to 'ユーザー登録（無料）', new_user_registration_path
            %li= link_to 'ログイン', new_user_session_path

    - if notice
      .alert.alert-desmissable.alert-success
        %button.close(type="button" data-dismiss="alert") x
        %p.notice= notice
    - if alert
      .alert.alert-dismissable.alert-danger
        %button.close(type="button" data-dismiss="alert") x
        %p.alert= alert

    = yield

    #footer
      .container
        .row
          .col-md-8
            %p Copyleft my-cookpad(c) All Left Reserved
